In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time

# Package to calculate distance between two coordinates
import geopy.distance

# Library for datetime variables
import datetime

# Import supplementary visualization code visuals.py
import visuals as vs

# Pretty display for notebooks
%matplotlib inline

In [2]:
# Load the location data of all weather stations which will be used in the analysis
stations_analyzed=pd.read_csv('stations_analyzed.csv', header=0,index_col=0)
stations_analyzed

                      stations abbreviations  latitude  longitude
12   san_diego_lindbergh_field          KSAN  32.73361 -117.18306
14  san_diego_montgomery_field          KMYF  32.81444 -117.13639
13       san_diego_brown_field          KSDM  32.57528 -116.99306
11                      ramona          KRNM  33.03750 -116.91583
0                     carlsbad          KCRQ  33.12680 -117.27583

In [17]:
# Define a function which first deals with the missing values in the weather data and then engineers new features
def weather_data_engineer(station):
    # Load the data which corresponds to the chosen weather station
    # station: the name of the weather station as a string
    parse_dates = ['date']
    df = pd.read_csv(station+".csv", header=0,parse_dates=parse_dates)
    
    # Define the temperature features in the weather data: 
    #'observed_low': observed lowest temperature during the day,
    #'observed_high': observed highest temperature during the day, 
    features=['observed_low','observed_high']
    
    # observed_low and observed_high have string 'M' whenever a value is missing, all other values are numeric
    
    # If the value is not numeric replace it by the value one year later, 
    # one year earlier, two years later or two years earlier 
    # until we find a numeric value with which to replace the non-numeric value.
    for feature in features:
        for i in range(len(df)):
            if (df[feature][i].isnumeric()==False)&(i+365<=len(df)):
                df[feature][i]=df[feature][i+365] 
            if (df[feature][i].isnumeric()==False)&(i-365>=0):
                df[feature][i]=df[feature][i-365] 
            if (df[feature][i].isnumeric()==False)&(i+730<=len(df)):
                df[feature][i]=df[feature][i+730] 
            if (df[feature][i].isnumeric()==False)&(i-730>=0):
                df[feature][i]=df[feature][i-730]         
    
    # Define the feature which shows the daily observed precipitation
    feature_p=['observed_precipitation']
    # observed_precipitation has 'T' or 'M' as missing values and some of the numbers are saved as strings as well
    # If the value is 'T' or 'M', replace it by the value one day later, 
    # one day earlier, one week later or one week earlier, one year later or one year earlier
    # until we find a numeric value with which to replace the non-numeric value.
    for feature_p in feature_p:
        for i in range(len(df)):
            if ((df[feature_p].iloc[i]=='T')|(df[feature_p].iloc[i]=='M'))&(i+1<=len(df)):
                df[feature_p][i]=df[feature_p][i+1] 
            if ((df[feature_p][i]=='T')|(df[feature_p][i]=='M'))&(i-1>=0):
                df[feature_p][i]=df[feature_p][i-1] 
            if ((df[feature_p][i]=='T')|(df[feature_p][i]=='M'))&(i+7<=len(df)):
                df[feature_p][i]=df[feature_p][i+7] 
            if ((df[feature_p][i]=='T')|(df[feature_p][i]=='M'))&(i-7>=0):
                df[feature_p][i]=df[feature_p][i-7]       
            if ((df[feature_p][i]=='T')|(df[feature_p][i]=='M'))&(i+365<=len(df)):
                df[feature_p][i]=df[feature_p][i+365] 
            if ((df[feature_p][i]=='T')|(df[feature_p][i]=='M'))&(i-365>=0):
                df[feature_p][i]=df[feature_p][i-365]             
    df['observed_low']=pd.to_numeric(df['observed_low']) 
    print(df['observed_low'].value_counts())
    df['observed_high']=pd.to_numeric(df['observed_high']) 
    print(df['observed_high'].value_counts())
    df['observed_precipitation']=pd.to_numeric(df['observed_precipitation']) 
    print(df['observed_precipitation'].value_counts())
    
    
    # Engineer new features related to weather 
    # 'high_low_diff': The difference between the highest and lowest temberatures observed during the day
    df['high_low_diff']=df['observed_high']-df['observed_low']
    # 'high_temp_diff': The difference with the highest temperature on the previous day
    df['high_temp_diff']=df['observed_high'].diff()
    
    # Creates series of zeros for the new features
    df['high_temp_alert']=pd.Series(np.zeros((len(df),), dtype=np.int))
    df['rain_alert']=pd.Series(np.zeros((len(df),), dtype=np.int))
    
    # Create rain alert and high temperature alert
    # df['high_temp_alert']=1 if the difference with the highest temperature on the previous day is higher than or equal to 10 F degrees, otherwise 0. 
    # df['rain_alert']=1 if no precipitation is observed on the previous day and there is positive precipitation 
    for i in range(len(df)):
        if (i>0) & (df['high_temp_diff'][i]>=10):
            df['high_temp_alert'][i]=1 
        if (i>0) & (df['observed_precipitation'].iloc[i]>0) & (df['observed_precipitation'].iloc[i-1]==0):
            df['rain_alert'][i]=1       
    df_engineered=df[['date','high_low_diff','high_temp_diff','high_temp_alert','rain_alert','observed_precipitation','observed_low','observed_high']]
    df_engineered.to_csv(station+'_engineered.csv',index=False)

In [18]:
# Perform data cleaning and feature engineering on all 5 dataframes 
# The new csv files contain these features: 'date','high_low_diff','high_temp_diff','high_temp_alert','rain_alert','observed_precipitation','observed_low','observed_high'

for station in stations_analyzed['stations']:
    weather_data_engineer(station)

59    65
61    62
56    61
62    58
63    56
54    56
57    50
64    49
60    48
65    48
53    47
58    42
55    40
68    38
66    38
70    36
50    34
69    32
67    30
51    29
52    27
49    23
71    22
48    18
47    18
73    15
45    12
72     9
44     7
41     6
74     6
46     5
77     2
43     2
75     1
76     1
42     1
78     1
Name: observed_low, dtype: int64
67     68
69     67
70     65
71     65
75     65
73     57
74     54
76     51
78     51
72     50
66     49
64     47
68     43
77     41
79     41
65     40
80     31
62     29
63     25
82     22
61     18
81     17
85     15
60     14
83     11
84      8
86      8
88      7
58      6
87      5
89      4
92      4
59      4
90      3
91      3
57      2
98      1
94      1
96      1
97      1
101     1
Name: observed_high, dtype: int64
0.00    902
0.03     67
0.01     27
0.02     13
0.07      8
0.04      7
0.16      6
0.05      5
0.15      4
0.19      3
0.08      3
0.18      3
0.06      3
0.11      3
0.27      2
0.13      2
0.10      2
0.79      2
0.36      2
0.65      2
0.32      2
0.35      2
0.72      2
0.09      2
0.23      2
0.20      1
0.26      1
0.75      1
0.62      1
0.22      1
0.24      1
0.48      1
0.43      1
0.98      1
0.80      1
0.17      1
0.59      1
1.07      1
0.41      1
1.11      1
1.57      1
2.34      1
0.47      1
1.80      1
Name: observed_precipitation, dtype: int64
58    53
61    52
59    52
56    48
49    47
55    47
63    46
62    46
57    46
53    44
50    43
68    43
52    42
54    41
51    41
60    40
47    35
48    34
65    29
64    26
69    22
70    22
66    22
67    21
45    20
71    20
46    19
43    16
42    13
72    12
44    12
41     9
40     9
39     4
38     4
36     4
74     3
73     3
37     3
76     1
35     1
Name: observed_low, dtype: int64
75     52
79     50
78     50
73     48
74     48
77     47
81     45
69     44
71     42
72     42
67     39
76     37
80     37
83     35
70     34
82     34
68     31
85     30
65     30
84     28
66     27
62     25
63     24
64     24
86     19
61     19
87     19
88     15
60     15
59     15
89     12
90     10
91      9
58      9
57      9
94      7
93      6
92      4
56      3
55      3
95      3
96      3
100     3
99      2
102     2
105     2
104     1
97      1
101     1
Name: observed_high, dtype: int64
0.00    890
0.03     69
0.02     24
0.01     23
0.04     15
0.21      5
0.05      5
0.23      4
0.07      4
0.10      4
0.36      3
0.14      3
0.06      3
0.16      3
0.48      3
0.18      2
0.22      2
0.12      2
0.61      2
0.09      2
0.13      2
0.15      2
0.27      2
3.12      1
0.25      1
0.19      1
0.54      1
1.71      1
0.43      1
0.78      1
0.28      1
0.42      1
1.68      1
0.45      1
0.44      1
1.54      1
0.69      1
0.97      1
0.47      1
0.26      1
1.09      1
0.11      1
0.93      1
1.46      1
Name: observed_precipitation, dtype: int64
60    60
54    56
59    56
47    52
52    52
49    49
58    48
57    46
62    41
56    41
61    39
53    38
48    37
51    37
50    36
44    35
65    34
45    34
55    33
43    26
46    26
64    23
66    22
63    21
67    20
42    19
38    19
41    15
40    14
68     9
69     9
39     8
36     7
70     5
35     4
34     4
33     3
79     3
37     3
71     3
81     2
72     2
73     1
75     1
77     1
30     1
Name: observed_low, dtype: int64
74     67
70     59
77     58
72     57
76     55
73     49
78     45
81     44
79     44
75     42
67     39
80     37
68     37
69     37
82     34
71     34
65     31
83     29
62     25
66     25
84     23
64     23
63     23
85     21
60     18
61     18
59     15
87     14
86     13
88     13
58      8
89      7
57      7
91      7
96      5
56      4
93      4
90      4
99      3
92      3
98      2
95      2
102     2
55      2
94      2
54      1
103     1
97      1
52      1
Name: observed_high, dtype: int64
0.00    896
0.01     82
0.02     18
0.04     11
0.03     10
0.06      8
0.09      4
0.12      4
0.19      4
0.22      3
0.13      3
0.25      3
0.73      3
0.27      3
0.07      2
0.08      2
0.37      2
0.91      2
0.24      2
0.41      2
0.14      2
0.05      2
0.76      2
1.03      1
0.31      1
0.74      1
0.26      1
0.38      1
0.61      1
1.25      1
1.29      1
1.07      1
0.40      1
2.21      1
0.39      1
0.21      1
0.10      1
0.11      1
0.36      1
0.51      1
0.49      1
1.19      1
0.28      1
0.34      1
0.18      1
0.52      1
1.28      1
0.79      1
Name: observed_precipitation, dtype: int64
45    44
40    41
52    40
41    39
51    39
38    39
44    38
54    37
50    37
55    37
47    36
57    36
42    34
35    34
43    33
36    33
46    33
49    33
53    31
48    31
56    29
59    28
58    26
39    25
33    23
63    22
34    21
32    19
37    19
61    17
62    17
60    15
30    15
31    13
65    13
29     9
66     9
64     8
27     7
68     6
28     5
70     5
26     5
23     3
67     2
69     2
25     2
79     2
76     1
71     1
24     1
Name: observed_low, dtype: int64
75     49
79     39
73     37
74     34
80     34
       ..
117     1
111     1
104     1
109     1
47      1
Name: observed_high, Length: 61, dtype: int64
0.00    952
0.01     22
0.02     15
0.05      9
0.06      6
0.16      6
0.03      5
0.18      5
0.04      5
0.09      4
0.17      3
0.07      3
0.27      3
0.15      3
0.60      3
0.36      2
0.26      2
0.12      2
0.59      2
0.91      2
1.10      2
0.24      2
0.28      2
0.19      2
0.11      2
0.23      2
0.13      2
0.20      1
0.89      1
0.70      1
0.29      1
0.21      1
0.61      1
0.79      1
1.18      1
0.74      1
0.88      1
5.05      1
0.65      1
0.33      1
0.30      1
2.24      1
0.22      1
3.06      1
0.10      1
3.55      1
0.40      1
1.20      1
1.41      1
0.94      1
0.35      1
0.41      1
0.97      1
0.08      1
Name: observed_precipitation, dtype: int64
57    70
59    59
50    57
51    55
53    55
58    51
61    48
65    47
56    46
54    44
60    43
52    42
64    42
62    41
49    41
63    39
67    38
66    34
68    33
55    33
48    23
69    22
47    17
45    16
46    15
44    15
71    14
70    13
42    11
41    10
43     5
40     5
73     4
39     3
72     2
75     1
37     1
Name: observed_low, dtype: int64
67     76
69     62
75     61
64     61
71     60
65     58
72     58
66     57
74     57
70     53
73     51
68     48
76     45
62     43
77     42
63     36
78     34
61     24
60     23
59     21
83     14
81     13
58     12
79     11
80     11
82      9
57      9
84      7
85      6
87      6
86      6
89      5
90      3
92      2
56      2
55      2
104     1
103     1
88      1
91      1
94      1
95      1
54      1
Name: observed_high, dtype: int64
0.00    948
0.01     19
0.02     15
0.03      9
0.04      8
0.08      7
0.09      6
0.51      4
0.13      4
0.15      4
0.06      4
0.16      4
0.24      4
0.10      4
0.11      3
0.71      2
0.26      2
0.07      2
0.18      2
0.27      2
0.31      2
0.32      2
0.22      2
0.62      2
0.05      2
0.35      2
0.83      2
0.23      2
0.54      2
0.14      2
0.82      1
3.23      1
0.12      1
0.28      1
1.25      1
0.37      1
0.19      1
0.56      1
0.25      1
0.43      1
0.20      1
0.49      1
1.77      1
0.86      1
0.55      1
0.42      1
1.32      1
0.21      1
0.41      1
0.17      1
1.19      1
0.64      1
Name: observed_precipitation, dtype: int64